{% extends "blog/layout.html" %}
{% load bootstrap3 %}

{% block navbar_left %}
    <li><a><span class="label label-info">{{ count }}</span></a></li>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>{{ author }}</h1>
        </div>
    </div>
    <div class="row">
        {% for post in post_list %}
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="thumbnail">
                    <a href="{% url "blog:detail" post.pk %}">
                        {% if not post.photo %}
                            <img src="http://lorempixel.com/400/400/sports/" class="img-rounded" />
                        {% else %}
                            <img src="{{ post.photo.url }}" class="img-rounded" />
                        {% endif %}
                        <div class="caption">
                            <h5>{{ post.title }}</h5>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
