{% extends "blog/layout.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    {{ post.title }}
                </div>
                <div class="panel-body">
                    {{ post.content|linebreaks }}
                </div>
            </div>
            <a href="{% url "blog.views.index" %}" class="btn btn-default">List</a>
            <a href="{% url "blog.views.edit" post.pk %}" class="btn btn-info">Edit</a>
        </div>
    </div>
</div>
{% endblock %}
