{% extends "blog/layout.html" %}
{% load bootstrap3 %}

{% block navbar_left %}
    <li><a><span class="label label-info">Visit Count: {{ count }}</span></a></li>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% for post in post_list %}
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="thumbnail">
                    <a href="{% url 'blog:detail' post.pk %}">
                        <img src="http://lorempixel.com/400/400/{{ lorempixel_categories|random }}/" class="img-rounded" />
                        <div class="caption">
                            <h5>{{ post.title }}</h5>
                        </div>
                    </a>
                    <a href="{% url "blog:author_wall" post.author.username %}">by {{ post.author }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-xs-12">
            <a href="{% url 'blog:new' %}" class="btn btn-default">New Post</a>
        </div>
    </div>
    <div class="row text-center">
        {% bootstrap_pagination page_obj %}
    </div>
</div>
{% endblock %}
