<!doctype html>
<html>
<head>
<meta charset="utf8" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.5/flatly/bootstrap.min.css" />
<!-- <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.5/journal/bootstrap.min.css" /> -->
<style>
img {
    max-width: 100%;
}
.navbar {
    border-radius: 0;
}
#footer {
    background-color: #333333;
    line-height: 20px;
    padding: 30px 20px;
    margin-top: 60px;
}
</style>
{% block extra_head %}{% endblock %}
</head>
<body>
<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url "blog.views.index" %}">Pystagram Blog</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-top" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar-top" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a><span class="label label-info">Posts: {{ post_count }}</span></a></li>
                {% block navbar_left %}
                {% endblock %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if not user.is_authenticated %}
                    <li><a><span class="label label-info">Sign in</span></a></li>
                    <li><a><span class="label label-info">Sign up</span></a></li>
                {% else %}
                    <li><a><span class="label label-info">{{ user }}</span></a></li>
                    <li><a><span class="label label-info">Logout</span></a></li>
                {% endif %}
                {% block navbar_right %}
                {% endblock %}
            </ul>
        </div>
    </div>
</div>

{% block content %}
{% endblock %}
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-muted">
                <a href="http://djangoproject.com" target="_blank">Django</a>
            </div>
            <div class="col-sm-6 text-right">
                <a href="http://www.fastcampus.co.kr/" target="_blank">with fastcampus</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>
